@{
    ViewBag.Title = "Home Page";
}

<br /><br />
<div class="row">

    @CreateNavTabs()

    <br/>

    <div class="tab-pane fade active in" id="bookTable">

        <div class="col-md-1">
            @*Create Book Button*@
            <input type="submit" id="createBook" value="New Book" onclick="NewBookView()"/>
        </div>

        <div class="col-md-8">

            @*Table*@
            <div id="myTabContent1" class="tab-content">


                <div id="Books">
                    @*@Html.Action("GetBooks")*@
                </div>


                @* create modal view *@
                <div id="modBookDialog" class="modal fade">
                    <div id="dialogBookContent" class="modal-dialog"></div>
                </div>

            </div>

        </div>

        <div class="col-md-3">
            @*TestBox for searching*@
            <div>
                <span><label>Search:</label>
                    <input type="text" name="search" id="search" data-autocomplete="true" />
                    </span>
            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="authorTable">

        <div class="col-md-2">
            @*Create Author Button*@
            <input type="submit" id="createAuthor" value="New Author" onclick="NewAuthorView()"/>
        </div>

        <div class="col-md-10">

            @*Table*@
            <div id="myTabContent" class="tab-content">

                <div id="Authors"></div>

                @* create modal view *@
                <div id="modAuthorDialog" class="modal fade">
                    <div id="dialogAuthorContent" class="modal-dialog"></div>
                </div>

            </div>

        </div>


    </div>
</div>


@helper CreateNavTabs()
{
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#bookTable" data-toggle="tab">Books</a></li>
        <li class=""><a href="#authorTable" data-toggle="tab">Authors</a></li>
    </ul>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/indexScripts.js"></script>
<script>
    $(document).ready(function () {

        //Search filter + autocomplete
        $("#search").autocomplete({
            source: function (request, response) {
                $(this).attr("data-autocomplete");
                $.ajax({
                    url: "/api/content/quicksearch",
                    type: "GET",
                    data: request,
                    success: function (data) {
                        displayBooks(data);
                        response($.map(data.ContentModels, function (name) {
                            return {
                                label: name.BookName,
                                value: name.BookId
                            }
                        }));
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        //alert('error - ' + textStatus);
                        console.log("error", textStatus, errorThrown);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                //alert('you have selected ' + ui.item.label + ' ID: ' + ui.item.value);
                $("#search").val(ui.item.label);
                Update(parseInt(ui.item.value));
                return false;
            }
        });

        //Handle Search filter for content updating
        $("#search").keyup(function () {
            if ($("#search").val() === "")
                Update();
        });

        Update();
    });

    function NewBookView() {
        $(function () {
            $.ajax({
                url: '@Url.Action("NewBookView", "Home")',
                type: "POST",
                success: function (data) {
                    $("#dialogBookContent").html(data);
                    $("#modBookDialog").modal("show");
                }
            });
        });
    }
    function UpdateBookView(id) {
        $(function () {
            $.ajax({
                url: '@Url.Action("NewBookView", "Home")',
                type: "POST",
                data: { index: id },
                success: function (data) {
                    $("#dialogBookContent").html(data);
                    $("#modBookDialog").modal("show");
                }
            });
        });
    }
    function NewAuthorView() {
        $(function () {
            $.ajax({
                url: '@Url.Action("NewAuthorView", "Home")',
                type: "POST",
                success: function (data) {
                    $("#dialogAuthorContent").html(data);
                    $("#modAuthorDialog").modal("show");
                }
            });
        });
    }
    function UpdateAuthorView(id) {
        $(function () {
            $.ajax({
                url: '@Url.Action("NewAuthorView", "Home")',
                type: "POST",
                data: { index: id },
                success: function (data) {
                    $("#dialogAuthorContent").html(data);
                    $("#modAuthorDialog").modal("show");
                }
            });
        });
    }
</script>